h1, h2, h3, p
    font-family: meanFont
    font-style: normal
    font-weight: 500
    text-size-adjust 100%
    font-weight 400
    color: $white

h1
    font-size: $h1

h2, h3
    font-size: $h23
    letter-spacing 2.56px
    line-height $h1

p
    font-size: $p_sub
    letter-spacing normal
    line-height $p_sub_h

.btn
    font-size: $p_but1

.btn2
    font-size: $p_but2

nav 
.nav
    font-family meanFont
    font-size 18px
    line-height 27px
    text-size-adjust 100%
    color: $white

span
    font-family meanFont
    font-size 15px
    line-height 24px
    text-size-adjust 100%
img 
    max-width 100%