body
    background: $brown
    padding: 5px
    margin: 15px auto
// nav 
//     border 1px solid yellow
.container
    width: 1200px
    margin 2em auto
    // padding: 15px
    // border 1px solid red
    border-radius: 1em

// div
//     border 1px solid $white
h1, h2, h3, p
    font-family: meanFont
    font-style: normal
    font-weight: 500
    text-size-adjust 100%
    font-weight 400
    color: var(--white)

h1
    font-size: $h1

h2, h3
    font-size: $h23
    letter-spacing 2.56px
    line-height 70px

h3 
    margin: 26px 0
p
    font-size: $p_sub
    letter-spacing normal
    line-height 33px

.btn
    font-size: $p_but1

nav 
.nav
    div
        font-family meanFont
        font-size 18px
        line-height 27px
        text-size-adjust 100%
        color: $white

span
    font-family meanFont
    font-size 15px
    line-height 24px
    text-size-adjust 100%
img 
    max-width 100%

a 
    color: unset 
    all unset
    transition: opacity .3s
    cursor: pointer
    &:hover
        opacity .7

button
    font-size: 1.6em
    padding: 5px 32px;
    color: $white
    background:@css{rgba(var(--white),.3); }

    &:hover
        cursor: pointer
        opacity .7
ul
    list-style none
    li
        list-style none

