
meanFont=var(--meanFont)

$h1=var(--h1) 
$h23=var(--h23) 
$p_sub=var(--p_sub)   
$p_but1=var(--p_but1)  
$p_but2=var(--p_but2)   

$brown=var(--brown)
$white=var(--white)
$blue=var(--blue)
$black=var(--black)
$br=var(--br)
$size1=var(--size1)
$size2=var(--size2)
