html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
:root {
  --brown: #191919;
  --white: #fff;
  --blue: #007aff;
  --black: #000;
  --br: 10px;
  --size1: 992px;
  --size2: 768px;
  --meanFont: "dmSans";
  --h1: 4.375em;
  --h23: 4em;
  --p_sub: 1.375em;
  --p_but1: 1.125em;
  --p_but2: 1.0625em;
}
body {
  background: var(--brown);
  padding: 5px;
  margin: 15px auto;
}
.container {
  width: 1200px;
  margin: 2em auto;
  border-radius: 1em;
}
h1,
h2,
h3,
p {
  font-family: var(--meanFont);
  font-style: normal;
  font-weight: 500;
  text-size-adjust: 100%;
  font-weight: 400;
  color: var(--white);
}
h1 {
  font-size: var(--h1);
}
h2,
h3 {
  font-size: var(--h23);
  letter-spacing: 2.56px;
  line-height: 70px;
}
h3 {
  margin: 26px 0;
}
p {
  font-size: var(--p_sub);
  letter-spacing: normal;
  line-height: 33px;
}
.btn {
  font-size: var(--p_but1);
}
nav div,
.nav div {
  font-family: var(--meanFont);
  font-size: 18px;
  line-height: 27px;
  text-size-adjust: 100%;
  color: var(--white);
}
span {
  font-family: var(--meanFont);
  font-size: 15px;
  line-height: 24px;
  text-size-adjust: 100%;
}
img {
  max-width: 100%;
}
a {
  color: unset;
  all: unset;
  transition: opacity 0.3s;
  cursor: pointer;
}
a:hover {
  opacity: 0.7;
}
button {
  font-size: 1.6em;
  padding: 5px 32px;
  color: var(--white);
  background: rgba(var(--white),.3);;
}
button:hover {
  cursor: pointer;
  opacity: 0.7;
}
ul {
  list-style: none;
}
ul li {
  list-style: none;
}
header {
  margin: 10px;
  font-family: dmsans;
  padding: 0 5px;
}
.topnav,
.topnav__menu {
  display: flex;
  text-transform: uppercase;
  color: var(--white);
  justify-content: space-between;
  position: relative;
}
.topnav:after {
  content: "";
  position: absolute;
  background: #f00;
  width: 50px;
  height: 50px;
  right: 0;
  top: 0;
  display: none;
}
.topnav__logo {
  font-size: 2em;
}
.topnav__menu {
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.topnav__menu .menu__list {
  justify-content: center;
  padding: 5px 10px;
}
.topnav__menu .menu__list_active {
  color: #000;
  background: #fff;
}
