header
    margin: 10px
    font-family: dmsans
    padding: 0 5px
    // *
    //     border 1px solid white
.topnav, .topnav__menu
    display flex 
    text-transform uppercase
    color $white
    justify-content: space-between
    position relative  

.topnav:after 
    content: ""
    position absolute
    background: red
    width: 50px
    height: 50px
    right: 0;
    top: 0;
    display: none

.topnav__logo
    font-size: 2em

.topnav__menu
    gap: 15px
    align-items: center
    justify-content: center
    flex-wrap: wrap

    .menu__list
        justify-content: center
        padding: 5px  10px;
        
    .menu__list_active
        color black
        background: white  

@media screen and (max-width size1){

}