.hero__block,
.hero__block__left,
.image,
.hero__block__right
    display flex
    justify-content: center
    align-items: center
    flex-grow: 1
    flex-shrink: 1

.hero__block__left
    flex-basis 40%
.hero__block__right
    flex-basis 60%
    flex-direction: column

