.partfolio__block
    display flex
    justify-content center
    align-items center
    background: $black
    border-radius: 15px

.partfolio__title
    color $white

.music_tool
    display: flex
.music_tool__block
    display: flex
    justify-content: space-between
    align-items: center

.music_tool__block__left
    flex-basis 40%
.music_tool__block__right
    display flex
    flex-basis 60%
    flex-direction: column

